body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: gold;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 350px;
}

.wrapper {
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    background-color: silver;
    text-align: center;
}